@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-float:focus-within ~ label,
  .btn-float:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-6;
  }

  .btn-float:focus-within ~ label {
    @apply text-primary-100;
  }
  .btn-float.error ~ label {
    @apply text-error;
  }
  .hyphens-auto {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  .position-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    min-height: 100vh;
    min-height: 100dvh;
  }
}
